 // info
    /* --------------------------------------------------------- */
    .info {
        background:blue;
        padding: 80px 0;
        text-align: center;
        h1 {
            padding: 15px;
            font-size: 80px;
            color: #606060;
            font-family: Arial;
        }
            
    }
    footer{
        background: #1e2846;
        padding: 10px 0;
        text-align: center;

        small {
            color:#ffffff;
        }
    }
